/**************************/
/* HEADER */
/**************************/
.first-line-header {
  justify-content: space-between;
  padding: 1rem 13rem 0 13rem;
  border-bottom: 0.1rem solid rgb(231, 226, 226);
}

.logo-img {
  height: 8.8rem;
}

.search-glass {
  height: 2.8rem;
  opacity: 0.6;
}

.social-media-img {
  height: 2.1rem;
}

.search-form {
  font-size: 2rem;
  border: none;
  padding-left: 1rem;
  outline: none;
  line-height: 1.5;
  height: 5rem;
}

.social-media-icons {
  gap: 2rem;
  /* filter: brightness(0.8) invert(1); */
}

.social-media-link:hover,
.social-media-link:active {
  opacity: 0.7;
}

.second-line-header {
  justify-content: space-between;
  padding: 1.5rem 13rem;
  background-color: #f6ecec;
}

.menu {
  gap: 5rem;
  font-size: 1.5rem;
}

.lists-link:link,
.lists-link:visited {
  color: rgb(60, 128, 66);
  font-size: 1.7rem;
  font-weight: 700;
}

.lists-link:hover,
.lists-link:active {
  color: rgb(103, 174, 109);
}

.user-section {
  gap: 6rem;
}

.signup-login {
  gap: 0.6rem;
}

.signup-login:hover,
.signup-login:active,
.shopping-cart:hover,
.shopping-cart:active {
  opacity: 0.7;
}

.login-text,
.your-cart {
  font-size: 1.5rem;
}

.login-img {
  height: 2.8rem;
}

.cart-img {
  height: 3rem;
}

.cart-header {
  position: relative;
  width: 5rem;
  display: inline-block;
  vertical-align: middle;
}

.cart-counter {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #4caf50;
  color: #fff;
  border-radius: 10px;
  width: 1.8rem;
  height: 2rem;
}

.cart-num {
  font-size: 1.5rem;
  position: relative;
  right: -0.5rem;
  top: 0.2rem;
}

/**************************/
/* CERTIFICATION SECTION */
/**************************/

.section-certificate {
  margin-top: 10rem;
  text-align: center;
}

.certificate-text {
  font-size: 2.8rem;
  margin-bottom: 1.6rem;
}

.certification-box {
  margin: 5rem 30rem;
}

.certification img {
  width: 100%;
}

/**************************/
/* CopyRight */
/**************************/

.copyright-box {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.2rem;
}

.copyright-text {
  margin-bottom: 0.5rem;
}
